{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% load static %}

{% block content %}
<div class="right_row">
    <div class="row">
        <div class="publish">
            <div class="row_title">
                <span><i class="fa-regular fa-newspaper"></i> Crear nuevo post</span>

            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="publish_textarea">
                    {% if user.userprofile and user.userprofile.profile_picture and user.userprofile.profile_picture.url != 'default.jpg' %}
                        <img class="border-radius-image" src="{{ user.userprofile.profile_picture.url }}" alt="{{ user.username }}" width="200">
                    {% else %}
                        <img class="border-radius-image" src="{% static 'default_profile_pic.png' %}" alt="Default Profile Pic" width="200">
                    {% endif %}
                    <div class="publish-content">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name != "image" %}  {# Excluir el campo image de la renderización automática #}
                                <div class="formulario-posts">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="error">{{ field.errors }}</div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div id="image-preview" style="display: none;">
                    <img src="" id="image-preview-src">
                </div>

                <div class="publish_icons">
                    <ul>
                        <li>
                            <label for="id_image" style="cursor: pointer;">
                                <i class="fa fa-camera"></i>
                            </label>
                            <input type="file" name="image" id="id_image" style="display: none;">
                        </li>                        
                    </ul>
                    <button type="submit">Publish</button>
                </div>                
            </form>
        </div>
    </div>

    {% for post in posts %}
    <div class="row border-radius">
        <div class="feed">
            <div class="post">
                <div class="feed_title">
                {% if post.author.userprofile and post.author.userprofile.profile_picture and post.author.userprofile.profile_picture.url != 'default.jpg' %}
                    <img src="{{ post.author.userprofile.profile_picture.url }}" alt="{{ post.author.username }}" width="200">
                {% else %}
                    <img src="{% static 'default_profile_pic.png' %}" alt="Default Profile Pic" width="200">
                {% endif %}
                <span><b><a href="{% url 'profile' user_id=post.author.id %}">{{ post.author }}</a></b> <br><p>{{ post.date_posted }}</p></span>                       
                </div>
                <div class="feed_content">
                    <div class="feed_content_image">
                        <h2>{{ post.title }}</h2>
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="{{ post.title }}" />
                        {% endif %}
                        <p>{{ post.content }}</p>
                    </div>
                    
                </div>
                <div class="feed_footer">
                    <ul class="feed_footer_left">
                        <li class="hover-orange selected-orange"><i class="fa fa-heart"></i> 22k</li>
                        <li><span><b>Jimmy, Andrea</b> and 47 more liked this</span></li>
                    </ul>
                    <ul class="feed_footer_right">
                        <li>
                            <li class="hover-orange selected-orange"><i class="fa fa-share"></i> 7k</li>
                            <a href="feed.html" style="color:#515365;"><li class="hover-orange"><i class="fa fa-comments-o"></i> 74 comments</li></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    document.getElementById("id_image").addEventListener("change", function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById("image-preview-src").src = e.target.result;
                document.getElementById("image-preview").style.display = "block";
            }
            reader.readAsDataURL(file);
        } else {
            document.getElementById("image-preview").style.display = "none";
        }
    });
</script>


{% endblock %}