body {
    background-color: #e6e6e66c;
    height:100%;
    font-family: 'Helvetica', Arial, sans-serif;
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

a {
  text-decoration: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    padding-top: 10px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #fff;
}

.form-index label{
  color: #000000;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

.form-footer {
    text-align: center;
    margin-top: 15px;
}

.form-footer a {
    color: #fefefe;
    text-decoration: none;
    transition: color 0.2s ease;
}

.errorlist {
    color: red;
    background-color: #fdd;
    border: 1px solid red;
    border-radius: 4px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    list-style-type: none;
}

.profile-title {
    font-size: 2.5em;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.profile-info {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.1);
}

.profile-info p {
    margin-bottom: 15px;
    font-size: 18px;
}
/*----------------------------------[ icon ]*/

.icon {
    color:#000545
}

/*----------------------------------[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
}

.wrap-login100 {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;
  background: #9152f8;
  background: -webkit-linear-gradient(top, #d9f5fb, #016ea9);
  background: -o-linear-gradient(top,#caf0f8, #0077b6);
  background: -moz-linear-gradient(top,#caf0f8, #0077b6);
  background: linear-gradient(top, #caf0f8, #0077b6);
}

/*[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-logo {
  font-size: 60px; 
  color: #333333;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

.login100-form-title {
  font-family: Poppins-Medium;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  display: block;
}

/*[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    border: none;
    justify-content: center;
  }
  
  .login100-form-btn {
    font-size: 16px;
    color: #555555;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    background: #a2deff;
  
  }

.login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login100-form-btn:hover {
    color: #fff;
  }
  
  .login100-form-btn:hover:before {
    opacity: 0;
  }

/*[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-login100 {
      padding: 55px 15px 37px 15px;
    }
  }

  /* ancla */
  .ancla100-form-a {
    font-size: 16px;
    color: #555555;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    background: #0d5588;
  
  }

.ancla100-form-a::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #a2deff;
    top: 0;
    left: 0;
    opacity: 1;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  
/* Nav */
.navbar {height: 50px;width: 100%;background-color: #0d5588;color: white;display: flex;align-items:center;top:0px;position: fixed;}
.navbar_logo {width: 10%;margin-left: 5%; text-align: center;     font-size: 40px;}
.navbar_logo img {height: 100%;}
.navbar_page {height: 50px;text-align: center;background-color: #0d5588}
.navbar_page span {height: 100%;line-height: 3;font-size: .995rem;letter-spacing: 1px;text-transform: uppercase; font-weight: bold;}
.navbar_search {height: 50px;text-align: center;width: 40%;display: inline-block;line-height: 3}
.navbar_search input {padding: 10px;border:none;background-color: #ffffff;color: rgb(0, 0, 0);width:70%;}
.navbar_search button {padding: 10px;border:none;background-color: #4f5266;color: white;margin-left:-20px;cursor: pointer;}
.navbar_search button:hover {background-color: #303347;}
.navbar_icons {height: 50px;text-align: center;width: 22%;display: inline-block;}
.navbar_icons ul {height: 50px;}
.navbar_icons ul li {height: 50px;display: inline-block;padding-left: 15px;padding-right: 15px;font-size: 19px;line-height: 2.5;cursor: pointer;}
.navbar_icons ul li:hover {background-color: #303347;}
#notification {font-size: 10px;color: #fff;background-color: #7C5AC2;padding: 0.6px 5px;border-radius: 100px}

/* CONTAIN */
.all {width: 90%;margin: 30px auto;display: flex;font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;margin-top: 80px}

.left_row {width: 25%;position: fixed;}
.rowfixed {width: 25%;}
.row {width: 90%;margin: 0px auto;display: block;background-color: white;color: #515365;margin-bottom: 20px;border: 1px solid #e6ecf5;}
.row_title {padding: 10px;border-bottom: 1px solid #e6ecf5;letter-spacing: 1px;}
.row_title span {padding: 20px;font-size: .775rem;font-weight: 700;}
.row_title a {font-size: .675rem;font-weight: 700;color:#0d5588;}
.row_title a:hover {text-decoration: underline;}
.row_contain {display: flex;align-items:center;width: 90%;margin: 0px auto;padding-bottom: 10px;padding-top: 10px;margin: 0px auto;}
.row_contain img {height: 40px;width:40px;border-radius: 200px;margin: 0px 10px;}
.row_contain span {font-size: 11px;margin-left: 10px;width: 70%}
.row_contain span b {font-size: 12px;color: #515365;cursor: pointer;}
.row_contain span b:hover {color: #0d5588;}
.row_contain button {padding: 10px;padding-right:15px;padding-left:15px;background-color: #0d5588;border:none;color:white;border-radius: 5px;cursor: pointer;margin-left: 10px;}
.row_contain button:hover {background-color: #246da2;}
.left_row_profile {width: 90%;margin: 0px auto;height: 150px; }
.left_row_profile {position: relative;display: flex; flex-direction: column; justify-content: center; align-items: center;}
.left_row_profile span {padding: 10px; font-weight: bold; text-align: center;}
#profile_pic {width: 100px;height: 100px; border-radius: 200px;border: 3px solid #0d5588;}

/* MENU */
.rowmenu {width: 90%;margin: 0px auto;display: block;bottom: 0px;overflow-x: hidden;height: 26vw;}
.rowmenu ul {padding-left: 20px;}
.rowmenu li {display: block;font-size: 19px;cursor: pointer;font-size: 12px;padding-bottom: 10px;padding-top: 10px;border-bottom: 1px solid #e6ecf5;cursor: inherit;}
.rowmenu li a{color: #a3a3a3;cursor: pointer;}
.rowmenu li i {padding-right: 10px}
.rowmenu ul li a:hover{color:  #0d5588;}
.primarymenu {color:  #0d5588;}


/* BUTTON TOP */
#myBtn {display: none;position: fixed;bottom: 20px;right: 30px;z-index: 99;font-size: 18px;border: none;outline: none;background-color: #FF5E3A;color: white;cursor: pointer;padding: 15px 17px;border-radius: 100%;}
#myBtn:hover {background-color: #0d5588;}

.right_row {width: 49%;margin: 0 auto;}
.publish {width: 100%;border-top: 5px solid #0d5588;box-shadow: 3px 4px 5px rgba(209, 209, 209, 0.5);}
.publish_textarea {
  width: 100%;
  display: flex;
  align-items:center;
}
.publish_textarea img {width:40px;height:40px;margin: 20px;}
.publish_textarea textarea {width:95.2%;height:40px;border:none;padding:20px;}
.publish_icons {border-top: 1px solid #e6ecf5;width: 100%;margin-top:20px;display: flex;align-items:center;}
.publish_icons ul {width: 75%;margin-left: 20px;}
.publish_icons li {height: 50px;display: inline-block;width: 50px;font-size: 19px;line-height: 2.5;cursor: pointer;font-size: 16px;line-height: 3;text-align: center;}
.publish_icons ul li:hover {background-color: #0d5588;color: white;}
.publish_icons button {border:none;cursor: pointer;padding: .8rem 2.1rem;font-size: .700rem;color: #fff;background-color: #0d5588;border-radius: .3rem;}
.publish_icons button:hover {background-color: #246da2;}
.border-radius-image {border-radius: 200px;}


.feed {width: 100%;}
.feed_title {padding: 20px;border-bottom: 1px solid #e6ecf5;letter-spacing: 1px;display: flex;align-items:center;}
.feed_title img {height: 40px;width:40px;border-radius: 200px;margin: 0px 10px;}
.feed_title span {font-size: .875rem;}
.feed_title span a {color: #246da2;}
.feed_title a b{color: #3F4257;}
.feed_title a b:hover{color: #246da2;}
.feed_title span p {font-size: .675rem;}
.feed_content_image {width: 95%;margin: 10px auto;display: block;}
.feed_content_image img {width: 100%;}
.feed_content_image iframe {width: 100%;height: 300px;}
.feed_content_image p {padding: 10px;padding-top: 5px}
.feed_footer {height: 50px;border-top: 1px solid #e6ecf5;display: flex;}
.feed_footer_left {width: 55%;margin-left: 20px;}
.feed_footer_left li {height: 50px;display: inline-block;line-height: 2.5;cursor: pointer;font-size: 14px;line-height: 3;text-align: center;margin-left: 10px}
.feed_footer_left li span {font-size: 10px;}
.feed_footer_left li i {font-size: 16px;}
.feed_footer_right {width: 40%;text-align: right;}
.feed_footer_right li {display: inline-block;line-height: 0;cursor: pointer;font-size: 12px;text-align: center;margin-right: 10px;line-height: 3.5;}
.feed_footer_right li i {font-size: 16px;padding-right: 5px}


.suggestions_row {width: 25%; }
.loadmorefeed {text-align: center;background-color: #CCD1E0;width:50px;height:50px;border-radius: 100%;color: #246da2;line-height: 3}


/* SETTINGS PAGE */
.settings {width: 100%;border-bottom: 5px solid #ff5e3a;}
.settings_title {padding: 20px;border-bottom: 1px solid #e6ecf5;letter-spacing: 1px;display: flex;align-items:center;}
.settings_title h3 {font-size: .875rem;}
.settings_content {width: 100%;}
.settings_content ul li {border-bottom: 1px solid #e6ecf5;display: flex;align-items:center;padding-bottom: 10px}
.settings_content ul li p {font-size: 12px;color:#515365;width:76%;padding: 20px;}
.settings_content ul li p b{font-size: 14px;color:#515365;}
.settings_content ul li p b{font-size: 14px;color:#515365;}

/* Contenido del formulario */
.publish-content {
  flex: 1;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

/* Elementos del formulario */
.formulario-posts {
  margin-bottom: 20px;
}

.formulario-posts label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.formulario-posts input,
.formulario-posts textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.formulario-posts textarea {
  height: 100px;
}

/* Mensajes de error */
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.ancla_button { cursor: pointer; padding: 0.8rem 2.1rem; font-size: 0.7rem; color: #fff; background-color: #0d5588; border-radius: 0.3rem; }

#image-preview {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}

#image-preview img {
  margin: 10px; /* Añade un margen alrededor de la imagen */
  max-width: 100px;
  max-height: 100px;
}