
{% extends 'base.html' %} {% load static %} {% block content %}
<div class="right_row">
  <div class="row border-radius">
      <div class="feed">
          <div class="feed_title">
              <span><a href="{% url 'profile' %}" id="select_profile_menu"><b>Profile</b></a> | <a href="{% url 'update_profile' %}"><b>About</b></a> </span>
          </div>
      </div>
  </div>

  <div class="row border-radius">
    <div class="feed">
        <div class="feed_title">
          <form method="post" class="register-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group form-index">
              <br />
              <label for="id_profile_picture">Profile picture:</label>
              <br />
              
              {% if user.userprofile and user.userprofile.profile_picture and user.userprofile.profile_picture.url != 'default.jpg' %}
              <img
                src="{{ user.userprofile.profile_picture.url }}"
                alt="Current Profile Pic"
                width="50"
              />
              {% else %}
              <img
                src="{% static 'default_profile_pic.png' %}"
                alt="Default Profile Pic"
                width="50"
              />
              {% endif %}
              <br />
              Change:
              <input type="file" name="profile_picture" id="id_profile_picture" />
            </div>
          
            <!-- Add first_name and last_name fields -->
            <div class="form-group form-index">
              <label for="id_first_name">First Name:</label>
              <input
                type="text"
                name="first_name"
                id="id_first_name"
                value="{{ user.first_name }}"
              />
            </div>
            <div class="form-group form-index">
              <label for="id_last_name">Last Name:</label>
              <input
                type="text"
                name="last_name"
                id="id_last_name"
                value="{{ user.last_name }}"
              />
            </div>
            <div class="form-group form-index">
              {{ form.date_of_birth.label_tag }} {{ form.date_of_birth }}
            </div>
          
            {% if form.errors %}
            <ul class="errorlist">
              {% for error in form.errors %}
              <li>{{ error|escape }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            <div class="publish_icons" style="border: none;">
              <button type="submit" style="margin: 0 auto;" >Update</button>
              <button style="text-align: center;"><a href="{% url 'profile' %}"></a>Cancelar</button>
            </div>
            
          </form>
        </div>
    </div>
</div>


</div>
{% endblock %}